.login-panel {
    margin-top: 35%;
}

.border-error {
    border-color: red;
}

.border-success {
    border-color: green;
}

.non-visible {
    display: none;
}

.alert-danger-position {
    position: absolute;
    margin-top: 7%;
    width: 91%;
    text-align: center;
}